.container-traductor {
    margin: 15px;
   
  }
  .row-traductor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .column-traductor {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .column-style {
  
    height: 100px;
    margin-left:5%;
    margin-right: 5%;
    margin-top: 2%;
    align-self: center;
  }
  @media (max-width: 800px) {
    .container-traductor  {
      flex-direction: column;
    }
    .row-traductor {
     flex-direction: column;
      }
      .column-traductor {
     flex-direction: column;
      }
      
      .column-style {
     flex-direction: column;
      }
  }