 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(217,217,217,0.6), rgba(217,217,217,0.6)), url("images/ImagendeWhatsApp2022-10-17alas14.56.43.jpg");
  background-position: 50% 100%;
}

.u-section-1 .u-sheet-1 {
  min-height: 576px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 57px auto 0 83px;
  padding: 10px 83px 10px 82px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.1667em;
  margin-right: 9px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: -64px auto 0;
  padding: 10px 66px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.1667em;
  margin-right: 9px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: -67px 65px 0 auto;
  padding: 13px 18px 13px 16px;
}

.u-section-1 .u-icon-3 {
  font-size: 1.4em;
  margin-right: 9px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 42px auto 0 74px;
  padding: 9px 12px 9px 11px;
}

.u-section-1 .u-icon-4 {
  font-size: 1.4em;
  margin-right: 5px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: -62px auto 0;
  padding: 9px 77px 10px 76px;
}

.u-section-1 .u-icon-5 {
  font-size: 1.1667em;
  margin-right: 9px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: -63px 65px 60px auto;
  padding: 9px 81px 10px;
}

.u-section-1 .u-icon-6 {
  font-size: 1.1667em;
  margin-right: 9px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 148px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 488px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 32px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -74px;
    margin-left: 150px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 129px;
    margin-left: 148px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
    margin-left: 490px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 364px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 124px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 292px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 33px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -75px;
    margin-left: 124px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 130px;
    margin-left: 124px;
  }

  .u-section-1 .u-btn-6 {
    margin-bottom: 0;
    margin-left: 294px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 273px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 119px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 172px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 32px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -74px;
    margin-left: 19px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 129px;
  }
}